{% extends "base.html" %}
{% block content %}

<h1>События на {{ date }}</h1>

<table>
    <tr>
        <th>Дата</th>
        <th>Название</th>
        {% if request.user.userprofile.access_level >= 2 %}
        <th>Действия</th>
        {% endif %}
    </tr>
    {% for event in events %}
    <tr>
        <td>{{ event.date }}</td>
        <td><a href="{% url 'event_detail' event.id %}">{{ event.title }}</a></td>
        {% if request.user.userprofile.access_level >= 2 %}
        <td>
            <a href="{% url 'edit_event' event.id %}">Редактировать</a>
        </td>
        {% endif %}
    </tr>
    {% empty %}
    <li>Нет событий на эту дату.</li>
    {% endfor %}
</table>
{% if request.user.userprofile.access_level >= 2 %}
<a href="{% url 'create_event' %}">Создать новое мероприятие</a>
{% endif %}
<br>
<a href="/">Вернуться к календарю</a>
{% endblock %}
