{% extends 'base.html' %}

{% block content %}
<h1>Управление проектами для мероприятия: {{ event.title }}</h1>

<div>
    <h2>Список проектов:</h2>
    <ul>
        {% for project in projects %}
            <li>
                <a href="{% url 'project_detail' project.pk %}">
                    {{ project.title }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

<div>
    <a href="{{ create_project_url }}?event_id={{ event.id }}" class="btn btn-primary">
        Создать новый проект
    </a>
</div>
{% endblock %}
