<!DOCTYPE html>
<html>
<head>
    <title>Список проектов</title>
</head>
<body>
    <h1>Список проектов</h1>
    
    <ul>
        {% for project in projects %}
            <li>
                <a href="{% url 'project_detail' pk=project.pk %}">{{ project.title }}</a>
                {% if project.children.exists %}
                    <ul>
                        {% for child in project.children.all %}
                            <li><a href="{% url 'project_detail' pk=child.pk %}">{{ child.title }}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </li>
        {% endfor %}
    </ul>
</body>
</html>