<!DOCTYPE html>
<html>
<head>
    <title>{{ project.title }}</title>
</head>
<body>
    <h1>{{ project.title }}</h1>
    <p>{{ project.description }}</p>
    <h2>Файлы:</h2>
    <ul>
        {% for file in project.files.all %}
            <li>{{ file.file_name }}: <a href="{{ file.file_url }}" target="_blank">{{ file.file_url }}</a></li>
        {% endfor %}
    </ul>
    <a href="{% url 'create_google_document' project.pk %}">Создать Google файл</a>
    
    <h2>Вложенные проекты:</h2>
    <ul>
        {% for sub_project in project.sub_projects.all %}
            <li><a href="{% url 'project_detail' sub_project.pk %}">{{ sub_project.title }}</a></li>
        {% endfor %}
    </ul>
    
    <a href="{% url 'create_project' parent_id=project.pk %}">Создать вложенную карточку</a><br>
    <a href="{% url 'calendar' %}">Назад к календарю</a><br>

</body>
</html>
